<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:ic="http://ivyteam.ch/jsf/component"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:pm="http://primefaces.org/mobile">
<h:body>
	<ui:composition template="/layouts/basic.xhtml">
		<ui:define name="title">LoginDialog</ui:define>
		<ui:define name="content">
			<div class="login-form-wrapper">
				<h:form id="form">
					<p:panel  header="Login" >
		       			<h:panelGrid columns="2" styleClass="login-form-grid">
							<f:facet name="header">
								<p:messages></p:messages>
							</f:facet>
							
							<span>Username:</span>
							<p:inputText styleClass="login-form-field" />
						
							<span>Password:</span>
							<p:password styleClass="login-form-field" />
							<f:facet name="footer">
								<p:commandButton value="Login"
									styleClass="login-form-footer-item"
									actionListener="#{logic.handleOnClickLogin}" />

							</f:facet>
						</h:panelGrid>
		    		</p:panel>
					
				</h:form>
			</div>
			
		</ui:define>
	</ui:composition>
</h:body>
</html>