.login-form-wrapper {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5em;
}
	
.login-form-field, .login-form-wrapper .ui-state-focus {
	width: 90%;
	background: transparent;
}

.login-form-grid {
	width: 100%;
	padding: 10px;
}



.login-form-footer-item {
	margin-top: 10px;
	float: right;
}